flask
-e /app/sdk 
# "editable" mode - changes to the local code will immediately affect the test_server without needing to reinstall the package.
psycopg2
mysql-connector-python
torch==2.1.0
numpy
scikit-learn
pandas